/ {
  behaviors {
        ad_rep_magic: ad_rep_magic {
            compatible = "zmk,behavior-antecedent-morph";
            label = "AD_REP_MAGIC";
            #binding-cells = <0>;
            defaults = <&kp A>;
            bindings = <&kp U>, <&kp O>;
            antecedents = <O Z>;
            max-delay-ms = <500>;
        };
  };
};
