

behaviors {

    magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
    };

    skq: sticky_key_quick_release {
        compatible = "zmk,behavior-sticky-key";
        #binding-cells = <1>;
        bindings = <&kp>;
        release-after-ms = <1000>;
        quick-release;
        ignore-modifiers;
    };    

    ZMK_MACRO(rl,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings = <&macro_tap &kp R &kp L>;
    )
    
    ZMK_MACRO(you,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings = <&macro_tap &kp Y &kp U &kp U>;
    )
};